.cardContainer {
  @apply w-64 m-4 max-h-72 rounded-lg cursor-pointer;
  min-height: 18rem;
  transition: all 0.2s ease-in;
}

.cardContainer:hover {
  box-shadow: 3px 3px 10px -3px rgba(0, 0, 0, 0.5);
}
